
/**
Fade Transition
**/
.custom-fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .custom-fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 400ms, transform 400ms;
  }
  .custom-fade-exit {
    opacity: 1;
  }
  .custom-fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 400ms, transform 400ms;
  }
  /**
End Transition
**/

.custom-bounc-enter {
  
 
    transition: transform .5s; /* Animation */
    width: 100%;
    height: 100%;
 
  }
  .custom-bounc-enter-active {
    transform: scale(1.5);
  }
  .custom-bounc-exit {
    opacity: 1;
  }
  .custom-bounc-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 400ms, transform 400ms;
  }