*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.login-container{
  margin:0px;
  background-image: url(../img/pokemon_wallpaper.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh; 
  width: 100%;


}
.login-form-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  
}
.login-form-wrapper{
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  
}
.header-content{
  height: 20vh;
  width: 100vw;
 /*  background: rgb(249 249 249); */
  display: flex;
  flex-direction: column;
  background-image: url("../img//wabe_svg.svg");
  background-position: bottom ;
  background-repeat: no-repeat;

  background-size: cover;
  justify-content: center;
}
.search-container{
  padding: 15px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.search-container .button-left{
  background: #1890ff;
  color: white;
  text-align: center;
  width: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-container .input-search{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pokemon-content{
  margin-top: 10%;
}
.pokemon-img-list{
width: 70%;
margin-left: auto;
margin-right: auto;
}
.card-pokemon-name{
  font-size: 1rem;
}
.card-pokemon-detail{
  font-size: 0.7rem;
}
.no-border-sizing{
  box-sizing:none;
}
.card-list-pk{
  margin-top: 20px;
}

.detail-view{
height: 100vh;
padding-top: 5%;
}
.custom-card-detail{
  -webkit-box-shadow: 6px -1px 23px 0px rgba(171,171,171,1);
  -moz-box-shadow: 6px -1px 23px 0px rgba(171,171,171,1);
  box-shadow: 6px -1px 23px 0px rgba(171,171,171,1);
  border-radius: 5px;
}
.img-defailt-big{
  width: 80%;

  text-align: center;
  
}
.head-card-detail{
  width: 100%;
  text-align: center;
  align-items: center;
  
}

.content-section-detail{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tag-canon-content{
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
.card-image-content-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.favorite-container{
  display: flex;
  justify-content: flex-end;
}
.favorite-icon{
  width: 32px;
  font-size: 25px;
  color: #1890ff;
}
.detail-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-tab{
  background:#eeeeee;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  width: 100%;
  height: 10vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
-webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
  
}
.custom-tab-btn{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.custom-tab-btn-selected{
  background: #1890ff;
  color: white;
}
.custom-tab-ic-container{
  width: 100%;
  display: block;
  font-size: 18px;
}
.favorites-content{
  width: 100%;
  height: 100%;
}

.custom-list-fab{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: row;
  margin-bottom: 30vh;


  
}

.img-fav{
  width: 80%;
  height: 80%;
}
.custom-list-fab{

  width: 100%;
  margin-top: 10%;
  padding: 10px;
}
.custom-item-fab{
  -webkit-box-shadow: 0px 0px 85px -4px rgba(99,99,99,0.21);
  -moz-box-shadow: 0px 0px 85px -4px rgba(99,99,99,0.21);
  box-shadow: 0px 0px 85px -4px rgba(99,99,99,0.21);
  border-radius: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.custom-item-fab-img{
  display: flex;
  justify-content: center;
}
.detail-fab{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn-delete-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
}